div {
  width: 90%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.intro{
  background-color: #E0FFC2;
}
.para1{
  background-color: #E2AFFF;
}
.para2{
  background-color: #E0FFC2;
}
.para3{
  background-color: #E2AFFF;
}
.para4{
  background-color: #E0FFC2;
}
.para5{
  background-color: #E2AFFF;
}
.para6{
  background-color: #E0FFC2;
}
.note{
  background-color: #E2AFFF;
}
.chal{
  background-color: #FEC6AE;
}
